.container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.variantContainer {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: baseline;
}

.ratingsContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
}

.containerLeft {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;
  max-width: 40rem;
  background-color: #ffffff;
  margin: 2rem
}

.containerRight {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  max-width: 35rem;
  justify-content: flex-start;
  flex-direction: column;
  margin: 2rem
}

.prodName {
  font-size: 2rem;
}

.price {
  font-size: 2.2rem;
}

.addToCartBtn {
  height: 2.5rem;
  font-size: 1.3rem;
  border: none;
  border-radius: 2rem;
  width: 20rem;
  color: white;
  background-color: #2e2e2e;
  cursor: pointer;
  margin-left: .5rem;
}

.addToCartBtn:hover {
  /*background-color: #ffffff;*/
  color: #2e2e2e;
  border-color: #2e2e2e;
  border: solid;
  transition: .7s;
}

.quantityContainer{
  height: 2.5rem;
  font-size: 1.3rem;
  /*background-color: #ffffff;*/
  border: solid;
  border-radius: 2rem;
  width: 8rem;
  text-align: center;
  color: #2e2e2e;
  display: flex;
  justify-content: space-around;
}

.quantityBtn{
  font-size: 1.3rem;
  color: #2e2e2e;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.actionContainer {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.quantityInput {
  width: 2rem;
  background-color: transparent;
  border: none;
  text-align: center;
  font-size: 1.3rem;
}

.containerProductList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: center;
}

.description {
  font-size: 1rem;
}

.reviewContainerCard {
  display: flex;
  justify-content: flex-start;
  margin: 1rem;
  max-width: 30rem;
  margin-top: 2rem;
  flex-direction: column;
}

.reviewButtonsCont {
  display: flex;
  justify-content: space-between;
  max-width: 9rem;
  align-items: flex-start;
  margin-top: 1rem;
}

.reviewContainer {
  margin: 1rem;
}

.alertButtonCont {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 1rem
}
